.chatContainer {
  min-width: 400px;
  max-width: 600px;
  border: 1px solid var(--gray-border);
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  margin: auto;
}

.messagesContainer {
  padding: 1px 10px 1px 10px;
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  height: 350px;
  overflow-y: auto;
}

@media only screen and (max-width: 400px) {
  .chatContainer {
    min-width: 300px;
    max-width: 390px;
  }
}

@media only screen and (max-width: 300px) {
  .chatContainer {
    min-width: 100px;
    max-width: 300px;
  }
}

.inputsForm {
  margin-top: 1rem;
  align-self: center;
  justify-self: center;
  justify-content: space-between;
  display: flex;
  gap: 5px;
  width: 95%;
}

.inputChat {
  background-color: var((--dark-theme-soft));
  width: 89%;
  border: none;
  border: 1px solid var(--gray-border);
  border-radius: 5px;
  padding: 8px;
  outline: none;
}

.inputChat:focus {
  border: 1px solid whitesmoke;
}

.inputSubmit {
  background-color: var((--dark-theme-soft));
  width: 10%;
  border-radius: 5px;
  border: none;
  border: 1px solid var(--gray-border);
  padding: 8px;
  color: var(--violet);
}

.inputLoading {
  width: 10%;
  border-radius: 5px;
  border: none;
  border: 1px solid var(--gray-border);
  padding: 8px;
  color: var(--violet);
  opacity: 70%;
}

.inputSubmit:hover {
  cursor: pointer;
  opacity: 50%;
}

@media only screen and (max-width: 400px) {
  .inputSubmit,
  .inputLoading {
    width: 15%;
  }
}

.chatContactContainer {
  margin: 0.75rem 0 0.75rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  background-color: var((--dark-theme-soft));

  .chatContact {
    background-color: var((--dark-theme-soft));
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}

.backgroundDark {
  background-color: var((--dark-theme-soft));
}

.links {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  color: var(--cyan);

  &::before {
    position: absolute;
    content: attr(data-content);
    top: 0;
    left: 0;
    color: var(--violet);
    overflow: hidden;
    transition: width 275ms ease;
    width: 0;
    white-space: nowrap;
  }

  &:hover::before {
    width: 100%;
  }
}

.link {
  color: var(--cyan);
  text-decoration: none;
  transition: color 150ms;

  &:hover {
    color: var(--violet);
  }
}
