.techContainer {
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 10px;
  border: 1px solid gray;

  p {
    font-size: small;
  }
}

@media only screen and (max-width: 720px) {
  .techContainer {
    padding: 0;
    border: none;

    p {
      font-size: medium !important;
      font-style: italic;
    }
  }
}
