.main {
  padding: 0 1rem;

  section {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    border-bottom: 0.5px solid var(--gray-border);
    padding-bottom: 5rem;

    h2 + p {
      margin-top: 0.25rem;
    }
  }

  .welcomeSection {
    height: 100vh;
    align-items: center;
    justify-content: center;
    border-bottom: none;
    margin-bottom: 5rem;
    padding-bottom: 0;

    a {
      color: var(--violet);
      text-decoration: none;
      scroll-behavior: smooth;
      display: inline-block;
      position: relative;

      &::before {
        position: absolute;
        content: attr(data-content); /* Prints the value of the attribute */
        top: 0;
        left: 0;
        color: var(--cyan);
        overflow: hidden;
        transition: width 275ms ease;
        width: 0;
        white-space: nowrap;
      }

      &:hover::before {
        width: 100%;
        color: var(--cyan);
        text-decoration: underline;
        text-decoration-style: wavy;
      }
    }

    .heroText {
      margin-top: 0.25rem;
      h1 {
        text-align: center;
      }

      h1 + p {
        text-wrap: pretty;
      }
    }
  }

  .projects {
    h2 + p {
      margin-top: 0.25rem;
      margin-bottom: 1.25rem;
    }
  }

  .linksContainer {
    margin-top: 1rem;
    list-style-type: none;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;

    svg {
      width: 1.5rem;
      fill: var(--text-color);
      margin-right: 0.5rem;
    }
  }

  .contact {
    border-bottom: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .main {
    padding: 0 17.5rem;

    .welcomeSection {
      .heroText {
        margin-top: 0rem;
      }
    }
  }
}
